*{
    margin: 0;
    padding: 0;
}
.app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(248, 223, 223);
}

.counter{
    margin-top: 150px;
}

.counter h1{
    font-size: 48px;
}

.buttons button{
    padding: 10px 60px;
    border: 1px solid black;
    background-color: rgb(159, 244, 244);
    border-radius: 10px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}